<div class="booyah-box col-10 offset-1">  
  <div class="flex-content-container">
  	<br/>
    <h1> Select a User Type: </h1>
    	<br/>
 		<%= link_to 'Customer', user_profile_path, class: 'nav-link' %>
        <br/>
        	<%= link_to 'Agent', user_profile_path, class: 'nav-link' %>
        <br/>
        	<%= link_to 'Nonprofit', user_profile_path, class: 'nav-link' %>
        <br/>
        	<%= link_to 'Administrator', user_profile_path, class: 'nav-link' %>
    	<br />
  </div>
</div>
