<div class="booyah-box col-10 offset-1">  
  <div class="col-12 col-sm-3">
    <br />
    <%= link_to 'Add Balance', add_balance_path %>
    <br />
    <%= link_to 'Make Payment', make_payment_path %>
    <br />
    <%= link_to 'Update Account', update_account_path %>
    <br />
  </div>
</div>
