<br />

<div class="booyah-box col-10 offset-1">
	<div class="flex-content-container">
		<h1>Update Information</h1>
		<h3>Change Phone Number</h3>
		<h3>Change Password</h3>
		<h3>Update Name</h3>
	</div>

</div>