<div class="booyah-box col-10 offset-1">  
  	<h1>Customer Profile</h1>
    <br />
    <%= link_to 'Make Payment', make_payment_path %>
    <br />
    <%= link_to 'Update Account', update_account_path %>
    <br />
  </div>
</div>
 -->
  </p>
</div>